<section style="height: 0; width: 0; overflow:hidden;" id="page-content">

    <section>
        <header>
            <h2>Human Readable</h2>
            <p>This is a human-readable <strong>summary</strong> of the Terms of Use.</p>
            <em>Disclaimer: This summary is not a part of the Terms of Use and is not a legal document. It is simply a handy reference for understanding the full terms. Think of it as the user-friendly interface to the legal language of our Terms of Use.</em>
        </header>
        <div>
            <dl>
                <dt>Part of our mission is to:</dt>
                <dd>
                    Empower and Engage people around the world to collect and develop educational content and either publish it
                    under a free license or dedicate it to the public domain.
                    Disseminate this content effectively and globally, free of charge.
                </dd>
                <dt>You are free to:</dt>
                <dd>
                    Read and Print our articles and other media free of charge.
                    Share and Reuse our articles and other media under free and open licenses.
                    Contribute To and Edit our various sites or Projects.
                </dd>
                <dt>Under the following Conditions:</dt>
                <dd>    <strong>Responsibility</strong> – You take responsibility for your edits (since we only host your content).</dd>
                <dd>    <strong>Civility</strong> – You support a civil environment and do not harass other users.  </dd>
                <dd>    <strong>Lawful Behavior</strong> – You do not violate copyright or other laws.  </dd>
                <dd>    <strong>No Harm</strong> – You do not harm our technology infrastructure.  </dd>
                <dd>    <strong>Terms of Use and Policies</strong> – You adhere to the below Terms of Use and to the applicable community policies when you visit our sites or participate in our communities.  </dd>
                <dt>With the understanding that:</dt>
                <dd>    <strong>You License Freely Your Contributions</strong> – you generally must license your contributions and edits to our sites or Projects under a free and open license (unless your contribution is in the public domain).</dd>
                <dd>    <strong>No Professional Advice</strong> – the content of articles and other projects is for informational purposes only and does not constitute professional advice.</dd>

            </dl>

        </div>
    </section>

    <section>
        <h2>1. Overview</h2>
        <p>
        Welcome to tuts-wanted! (“we” or “us”), is an organization whose mission is to empower and engage people around
        the world to collect, rate, and develop a tutorial request list.("service" or "services")
        </p>
    </section>

    <section>
        <h2>2. Agreement</h2>
        <p>
            YOUR ACCESS TO OR USE OF ANY THE SERVICES SIGNIFIES THAT YOU HAVE READ, UNDERSTOOD, AND AGREED TO BE BOUND BY THE TERMS. By accessing or using any Services you also represent that you have the legal authority to accept the Terms on behalf of yourself and any party you represent in connection with your use of any Services. If you do not agree to the Terms, you are not authorized to use any Services.
        Collectively, the Terms on this page form a binding legal agreement between you and us in relation to your use of the Services. Collectively, this legal agreement is referred to below as the “Terms.”
        </p>
    </section>
    
    <section>
        <h2>3. Changes</h2>
        <p>
            From time to time, wanted-tuts.com may change, remove, or add to the Terms, and reserves the right to do so in its discretion. In that case, we will post updated Terms and indicate the date of revision. If we feel the modifications are material, we will make reasonable efforts to post a prominent notice on the relevant Website(s) and notify those of you with a current CCID account via email. All new and/or revised Terms take effect immediately and apply to your use of the Services from that date on, except that material changes will take effect 30 days after the change is made and identified as material. Your continued use of any Services after new and/or revised Terms are effective indicates that you have read, understood, and agreed to those Terms.
        </p>
    </section>

    <section>
        <h2>4. Content</h2>
        <p>
            Your responsibility: You represent, warrant, and agree that no Content posted or otherwise shared by you on or through any of the Services (“Your Content”), violates or infringes upon the rights of any third party, including copyright, trademark, privacy, publicity, or other personal or proprietary rights, breaches or conflicts with any
            obligation, such as a confidentiality obligation, or contains libelous, defamatory, or otherwise unlawful material.
        </p>
    </section>

    <section>
        <h2>5.Participating in our Community: Registered Users</h2>
        <p>
        By registering for an account through any of the Services, you represent and warrant that you (1) are the age of majority
        in your jurisdiction (typically age 18) or, (2) are over the age of 13 and have the express permission of a legal
        guardian to obtain an account and to use Services in connection with the account. Services offered to registered
        users are provided subject to these Terms and any Additional Terms specified on the relevant Website(s).

        Registration: You agree to (a) only provide accurate and current information about yourself
        (though use of an alias or nickname in lieu of your legal name is encouraged), (b)
        maintain the security of your passwords and identification, © promptly update the email address
        listed in connection with your account to keep it accurate so that we can contact you, and (d) be
        fully responsible for all uses of your account. You must not set up an account on behalf of another
        individual or entity unless you are authorized to do so.

        Termination: We reserve the right to modify or discontinue your account at any time for any reason or no reason at all.
        </p>
    </section>

    <section>
        <h2>6. Prohibited Conduct</h2>
            <p>
            You agree not to engage in any of the following activities:
            </p>
            <ol>
                <li>
                    <h4>Violating laws and rights:</h4>
                    You may not (a) use any Service for any illegal purpose or in violation of any local, state, national, or international laws, (b) violate or encourage others to violate any right of or obligation to a third party, including by infringing, misappropriating, or violating intellectual property, confidentiality, or privacy rights.
                </li>
                <li>
                    <h4>Solicitation: </h4>
                    You may not use the Services or any information provided through the Services for the transmission of advertising or promotional materials, including junk mail, spam, chain letters, pyramid schemes, or any other form of unsolicited or unwelcome solicitation.
                </li>
                <li>
                    <h4>Disruption:</h4>
                    You may not use the Services in any manner that could disable, overburden, damage, or impair the Services, or interfere with any other party’s use and enjoyment of the Services; including by (a) uploading or otherwise disseminating any virus, adware, spyware, worm or other malicious code, or (b) interfering with or disrupting
                    any network, equipment, or server connected to or used to provide any of the Services, or violating any regulation, policy, or procedure of any network, equipment, or server.
                </li>
                <li>
                    <h4>Harming others:</h4>
                    You may not post or transmit Content on or through the Services that is harmful, offensive, obscene, abusive, invasive of privacy, defamatory, hateful or otherwise discriminatory, false or misleading, or incites an illegal act;
                    You may not intimidate or harass another through the Services; and, You may not post or transmit any personally identifiable information about persons under 13 years of age on or through the Services.
                </li>
                <li>
                    <h4>Impersonation or unauthorized access</h4>
                    You may not impersonate another person or entity, or misrepresent your affiliation with a person or entity when using the Services;
                    You may not use or attempt to use another’s account or personal information; and,
                    You may not attempt to gain unauthorized access to the Services, or the computer systems or networks connected to the Services, through hacking password mining or any other means.
                </li>
            </ol>

    </section>

    <section>
        <h2>
            7. DISCLAIMER OF WARRANTIES
        </h2>
        <p>
            TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, Wanted-tuts.com OFFERS THE SERVICES (INCLUDING ALL CONTENT AVAILABLE ON OR THROUGH THE SERVICES) AS-IS AND MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND CONCERNING THE SERVICES, EXPRESS, IMPLIED, STATUTORY, OR OTHERWISE, INCLUDING WITHOUT LIMITATION, WARRANTIES OF TITLE, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT. Wanted-tuts.com DOES NOT WARRANT THAT THE FUNCTIONS OF THE SERVICES WILL BE UNINTERRUPTED OR ERROR-FREE, THAT CONTENT MADE AVAILABLE ON OR THROUGH THE SERVICES WILL BE ERROR-FREE, THAT DEFECTS WILL BE CORRECTED, OR THAT ANY SERVERS USED BY WANTED-TUTS.COM ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. Wanted-tuts.com DOES NOT WARRANT OR MAKE ANY REPRESENTATION REGARDING USE OF THE CONTENT AVAILABLE THROUGH THE SERVICES IN TERMS OF AWANTED-TUTS.COMURACY, RELIABILITY, OR OTHERWISE.
        </p>
    </section>

    <section>
        <h2>
            8. LIMITATION OF LIABILITY
        </h2>
        <p>
            TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT WILL Wanted-tuts.com BE LIABLE TO YOU ON ANY LEGAL THEORY FOR ANY INCIDENTAL, DIRECT, INDIRECT, PUNITIVE, ACTUAL, CONSEQUENTIAL, SPECIAL, EXEMPLARY, OR OTHER DAMAGES, INCLUDING WITHOUT LIMITATION, LOSS OF REVENUE OR INCOME, LOST PROFITS, PAIN AND SUFFERING, EMOTIONAL DISTRESS, COST OF SUBSTITUTE GOODS OR SERVICES, OR SIMILAR DAMAGES SUFFERED OR INCURRED BY YOU OR ANY THIRD PARTY THAT ARISE IN CONNECTION WITH THE SERVICES (OR THE TERMINATION THEREOF FOR ANY REASON), EVEN IF Wanted-tuts.com HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.

            TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, Wanted-tuts.com IS NOT RESPONSIBLE OR LIABLE WHATSOEVER IN ANY MANNER FOR ANY CONTENT POSTED ON OR AVAILABLE THROUGH THE SERVICES (INCLUDING CLAIMS OF INFRINGEMENT RELATING TO THAT CONTENT), FOR YOUR USE OF THE SERVICES, OR FOR THE CONDUCT OF THIRD PARTIES ON OR THROUGH THE SERVICES.

            Certain jurisdictions do not permit the exclusion of certain warranties or limitation of liability for incidental or consequential damages, which means that some of the above limitations may not apply to you. IN THESE JURISDICTIONS, THE FOREGOING EXCLUSIONS AND LIMITATIONS WILL BE ENFORCED TO THE GREATEST EXTENT PERMITTED BY APPLICABLE LAW.
        </p>
    </section>

    <section>
        <h2>
            9. Indemnification
        </h2>
        <p>
            To the extent authorized by law, you agree to indemnify and hold harmless Wanted-tuts.com, its employees, officers, directors, affiliates, and agents from and against any and all claims, losses, expenses, damages, and costs, including reasonable attorneys fees, resulting directly or indirectly from or arising out of (a) your violation of the Terms, (b) your use of any of the Services, and/or © the Content you make available on any of the Services.
        </p>
    </section>

    <section>
        <h2>
            10. Privacy Policy
        </h2>
        <p>
            Wanted-tuts.com is committed to responsibly handling the information and data we collect through our Services in compliance with our Privacy Policy, which is incorporated by reference into these Master Terms. Please review the Privacy Policy so you are aware of how we collect and use your personal information.
        </p>
    </section>

    <section>
        <h2>
            11. Copyright Complaints
        </h2>
        <p>
            Wanted-tuts.com respects copyright, and we prohibit users of the Services from submitting, uploading, posting, or otherwise transmitting any Content on the Services that violates another person’s proprietary rights.

            To report allegedly infringing Content hosted on a website owned or controlled by WANTED-TUTS.COM, send a Notice of Infringing Materials as set out in WANTED-TUTS.COM’s Digital Millennium Copyright Act (“DMCA”) Notice & Takedown Procedure.


        </p>
    </section>

    <section>
        <h2>
            12. Termination
        </h2>
        <p>
            By Wanted-tuts.com: Wanted-tuts.com may modify, suspend, or terminate the operation of, or access to, all or any portion of the Services at any time for any reason. Additionally, your individual access to, and use of, the Services may be terminated by Wanted-tuts.com at any time and for any reason.

            By you: If you wish to terminate this agreement, you may immediately stop accessing or using the Services at any time.

            Automatic upon breach: Your right to access and use the Services (including use of your WANTED-TUTS.COMID account) terminates automatically upon your breach of any of the Terms. For the avoidance of doubt, termination of the Terms does not require you to remove or delete any reference to previously-applied WANTED-TUTS.COM legal tools from your own Content.

            Survival: The disclaimer of warranties, the limitation of liability, and the jurisdiction and applicable law provisions will survive any termination. The license grants applicable to Your Content are not impacted by the termination of the Terms and shall continue in effect subject to the terms of the applicable license. Your warranties and indemnification obligations will survive for one year after termination.


        </p>
    </section>
</section>


{{#if js}}

    <main id="{{js_id}}"></main>
    <script src="/js/{{js}}.min.js"></script>
{{/if}}