<section style="height: 0; width: 0; overflow:hidden;" id="page-content">
<h1>About Wanted-tuts</h1>
    <p>Wanted-tuts was created for the purpose of finding/voting/requesting tutorials for computer programming, gaming, etc</p>
    <p>Wanted-tuts was founded by Matt McFarland, and authored by Matt Mcfarland and Marko Bolliger</p>
    <p>The creation of Wanted-tuts.com was recorded on livecoding.tv</p>
    <p>Wanted-tuts is a work in progress</p>
    <p>Thanks for visiting :D</p>
</section>


{{#if js}}

    <main id="{{js_id}}"></main>
    <script src="/js/{{js}}.min.js"></script>
{{/if}}