body {
	background: $white;
	font: 100%/1.5 $font;
	-webkit-text-size-adjust: 100%;
	color: $gray-dark;
}

.layout {
  position: relative;
}

div, ul, li, section, aside, button, input {
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
