/*------------------------------------*\
    $Table
\*------------------------------------*/
table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
}
th {
  text-align: left;
  border-bottom: 1px solid $gray;
  padding: 0.2em;
  margin-bottom:1em;
}
td {
  padding: 0.2em;
}