/* Comments - components/comments */
.comment-zone {
  background-color: $sidebar;
  padding: 15px 30px;
}

.comments > header {
  margin: 0 0 20px 0;
  h4 {
    text-transform: uppercase;
  }
  .icon {
    color: $blue;
    margin-right: 12px;
    font-size: 22px;
  }
}


.comment {
  color: #999;
  transition: 0.3s;
  background: inherit;
  position: relative;
  .minispin {
    opacity: 0.6;
    height: 18px;
    overflow: hidden;
  }
  &.saving {
    background: rgba(255, 255, 170, 0.33);
    &:before, &:after {
      content:" ";
      position:absolute;
      background: rgba(255, 255, 170, 0.33);
      width: 16px;
      height: 100%;
      top: 0;
    }
    &:before {
      left:-16px
    }
    &:after {
      top: 0;
      right:-16px
    }
  }
  .timestamp, .minispin {
    font-size: 12px;
    vertical-align: top;
    opacity: 0.6;
    float: right;
    > img {
      opacity: 0.8;
      width: 90%;
      padding: 10% 0 0 0;
    }
  }
  .comment-heading {
    margin-bottom: 5px;
    .comment-author {
      color: $dark;
    }
  }
  .comment-footer {
    margin-top: 10px;
    > div {
      display: inline-block;
    }
    .vote-section {
      button {
        line-height: 24px;
        display: inline-block;
        padding: 0;
        vertical-align: baseline;
        margin-right: 0.33em;
        transition: 0.3s;
        color: $blue;
        &.active, &:hover, &:focus {
          color: $green;
        }
        .icon {
          &.ion-chevron-up.active {
            color: $green;
          }
          &.ion-chevron-down.active {
            color: $red;
          }
        }
      }
      .score {
        vertical-align: top;
        font-size: 12px;
        font-weight: bold;
        line-height: 26px;
        display: inline-block;
        color: $dark;
      }
    }
    .share-section {
      > button {
        font-size: 19px;
        vertical-align: baseline;
        line-height: 18px;
      }
    }

  }
  .edit-controls {
    float: right;
    .edit-control {
      opacity: 0.6;
      &:hover {
        opacity: 1;
      }
    }
  }
  .comment-author {
    a {
      color: $dark;
      &:hover {
        color: $blue;
      }
    }
    .edit {
      font-weight: 300;
      font-size: 10px;
      color: #a9a9a9;
      font-style: italic;
      &:before {
        content: "["
      }
      &:after {
        content: "]"
      }
    }
  }
}