.dropdown {
  position: relative;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  > button {
    line-height: 40px;
  }
  .dropdown-items {
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    position: absolute;
    z-index: 2;
    display: none;
    min-width: 220px;
    top: 59px;
    left: 0;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

    li {
      margin: 0;
      font-size: 14px;
      border-bottom: thin solid #bababa;
      line-height: 34px;
      width: 100%;

      &:last-child {
        border-bottom: none;
      }

      button, a {

        .icon {
          width:30px;
          display: inline-block;
          text-align: center;
          font-size: 18px;
          margin-right: 0.5em;
          opacity: 0.5;
          line-height: 34px;
          vertical-align: top;
        }

        padding: 0 4px;
        background: white;
        color: $dark;
        line-height: inherit;
        display: block;

        &:hover {
          background: $blue;
          color: white;
        }

      }
    }
  }

  &.open {
    > button {
      background: $blue;
      color:white;

    }
    .dropdown-items {
      display: block;
    }
  }
}

.dropdown.flag {
  margin-top: -10px;
  float: right;
  display: inline-block;

  .flag-container {
    margin-top:8px;
    position: absolute;
    right: 56px;
    width: 450px;
    text-align: right;
  }
  button.btn-danger {
    background: #ec4f4f;
    color: #FFF;
    line-height: 1;
    font-size: 12px;
    padding: 4px;
    vertical-align: top;

  }
  .dropdown-items {
    background: white;
    top: 39px;
    left: -172px;
    li {
      width: 100%;
      button {
        width: 100%;
        text-align: left;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.comment-zone .dropdown.flag {
  float: none;
  display: inline-block;
  margin: 0;
  > button {
    line-height: 1;
  }
  .dropdown-items {
    left: 0;
    top: 23px;
  }
  .flag-container {
    margin-top: 8px;
    position: absolute;
    width: 450px;
    text-align: left;
    top: -5px;
    left: 37px;
    right: 0;
  }
}