header.header {
  background: $white;
  height: 80px;
  line-height: 80px;
  padding: 0;
  border-bottom: 1px solid #dbdbdb;
  box-shadow: $shadow;
  width: 100%;
  .content {
    max-width: 1200px;
    padding: 0 0.5em;
    @extend .lc;
  }
  .dropdown {
    z-index: 3;
  }
}

.logo {
  vertical-align: middle;
  height: 30px;
  margin-bottom: 1px;
  opacity: 0.6;
  margin-left: 8px;
  &:hover {
    opacity: 1;
  }
  @media all and (min-width: $bp-med) {
    max-width: 9rem;
  }
}

.nav-toggle {
  float: right;
  display: block;
  padding: 0.9rem 1rem 0.7rem;
  font-size: 1.3rem;
  line-height: 1;
  border-left: 1px solid #dbdbdb;

  @media all and (min-width: $bp-med) {
    display: none;
  }

  @media all and (max-width: 17em) {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
}

.search-form {
  overflow: hidden;
  max-height: 0;

  @media all and (min-width: $bp-med) {
    float: right;
    max-height: none;
    margin: 0.65em 0.5em 0 0;
  }
}

