/* Hpreloader - objects/hpreloader */
.hpreloader {
  height:22px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.preload {
  position: relative;
  width: 300px;
  height: 4px;
  background: linear-gradient(
      to right,
      rgba(0,0,0,0),
      black 33%,
      black 66%,
      rgba(0,0,0,0)
  );
  animation-duration: 6s;
  animation-iteration-count: infinite;
  &-top {
    animation-name: preload-top;
  }
  &-bottom {
    animation-name: preload-bottom;
  }
}

@keyframes preload-top {
  0%   { left: -300px;  top:9px; }
  50%  { left: 100%;    top:9px; }
  100% { left: -300px;  top:9px; }
}

@keyframes preload-bottom {
  0%   { left: 100%;    top: 11px; }
  50%  { left: -300px;  top: 11px; }
  100% { left: 100%;    top: 11px; }
}