/* Marked Area */

.marked-area {

  &-header {
    background-color: #4374f4;
    padding: 8px 14px;

    menu {
      padding: 0;
      margin: 0;
    }
  }
  &-button {
    min-width: 75px;
  }
  &-button, a {
    color: white;
    &.active {
      border-top: 2px solid white;
      border-bottom: 2px solid white;
    }
  }
  &-help-link {
    float: right;
    color: white;
    &:hover {
      text-decoration: underline;
    }
  }

  &-text-container {
    border: thin solid #bababa;
    div {
      background: white;
      color: $dark;
      padding: 1em;
      p {
        color: black;
      }
    }

    textarea, div {
      min-height: 200px;
      margin: 0;
    }
    textarea {
      border: 0;
    }
  }
}

.solution-form-body {
  .marked-area {
    &-header {
      padding-left:0;
    }

  }
}