/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

.nav {
  clear: both;
  overflow: hidden;
  max-height: 0;
  line-height: 80px;

  button, a{
    vertical-align: middle;
    display: inline-block;
    color: #555;
    &:hover {
      color: $blue;
    }
  }

  &.active {
    max-height: 40em;
  }
  .icon {
    font-size:30px;

    &.ion-android-arrow-dropdown {
      font-size: 18px;
      vertical-align: top;
      line-height: 29px;
      margin-left: 4px;
    }
  }

  @media all and (min-width: $bp-med) {
    max-height: none;
    float: right;
    clear: none;

    li {
      float: left;
      margin: 0 10px;
    }

    a {
      border: 0;
    }

  }
}

//Pagination
.pagination {
  overflow: hidden;

  li {
    float: left;
    border-right: 1px solid $gray-light-2;

    &:last-child {
      border: 0;
    }
  }

  a {
    padding: $pad;
  }
}

#nav {
  overflow: visible;
}