.solution-form {
  background-color: $blue;
  height: auto;
  line-height: 1.3;
  padding: 20px 0;
  border-bottom: 1px solid #dbdbdb;
  width: 100%;
  position: relative;
  fieldset, footer {
    max-width: 1200px;
    padding: 0 0.5em;
    @extend .lc;
    > section {
      width: 66%;
    }
  }
  legend {
    line-height: 3em;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: white;
  }
  p {
    color: white;
  }

  input[type="url"] {
    margin: 20px 0 10px 0;
    border: thin solid rgba(0,0,0, 0.2);
  }
  input[type="submit"] {
    margin-top: 20px;
    min-width: 80px;
  }
}


@media (max-width: 768px) {
  .solution-form fieldset > section{
    width: 100%;
  }
}

.marked-area-text-container {
  div {
    background: white;
    color: black;
    padding: 1em;
    p {
      color: black;
    }
  }

  textarea, div {
    min-height: 200px;
  }
}

.marked-area-button {
  color: white;
  margin-bottom: 6px;
  &.active {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
  }
}