.vote {
  display: inline-block;
  width: auto;
  text-align: center;
  button {
    color: $dark;
    background: white;
    transition: 0.3s;
    padding: 0;
    border: none;
    .icon {
      font-size: 20px;
      &.ion-chevron-up.active {
        font-size: 26px;
        color: orange;
      }
      &.ion-chevron-down.active {
        color: orange;
      }
    }
    &.up {
      &:hover {
        color: orange;
      }
      &.active {
        color: orange;
      }
    }
    &.down {
      &:hover {
        color: orange;
      }
      &.active {
        color: orange;
      }
    }
  }
  .score {
    font-size: 14px;
    font-family: Ubuntu, sans-serif;
    font-weight: 700;
    color: $dark;
    display: block;
  }
  &.vote-lg {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    padding: 0.66em 0.88em;
    border-radius: 8px;

  }
}