.categories {
  background: $blue;
  position: relative;
  padding: 24px 0;
  margin-bottom:120px;
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    //  padding: 20px 0;
    &__item {
      border: 2px solid $white;
      display: inline-block;
      border-radius: 4px;
      margin-left: 15px;
      @include media-breakpoint-down(md) {
        margin-bottom: 10px;
        margin-left: 10px;
      }
      &:first-child {
        margin-left: 10px;
      }
    }
  }
  &__link {
    color: white;
    line-height: 35px;
    font-size: 16px;
    padding: 0 14px;
    display: block;
    &--static {
      background: $white;
      color: $blue;
    }
    &:hover {
      text-decoration: none;
    }
  }
}

//Test
