.topbar {
  box-shadow: $shadow;
  max-height:$topbar-min-height;
  position: fixed;
  line-height: 80px;
  width: 100%;
  top: 0;
  background:$white;
  left: 0;
  z-index:20;
  &__logo {
    font-size: 33px;
  }
  &__list {
 float:right;
    margin: 0;
    padding: 0;
    list-style: none;
    &__item {
      line-height:24px;
      display: inline-block;
      margin-left: $topbar-item-x-space;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  &__link {
    border-radius: 4px;
    background: $grey;
    display: block;
    padding: $topbar-item-padding;
    transition: background 0.3s;

    &__icon {
      color: $white;
    }
    &:hover, &--active {
      background: $blue;
    }

  }
}
