
.posts {
  margin-top:72px;
}
.post {
  &--trans {
    opacity: 0.5;
    transition: all 0.3s;
  }
  &__vote {
    &-score {
      font-size: 14px;
      font-family: 'Ubuntu',sans-serif;
      font-weight: 700;
    }
    &-btn {
      transition: color 0.5s;
      font-size: 26px;
      color: $blue;
      &-up {
        &.upvoted {
          color: $green;
        }
        &:hover {
          color: $green;
        }
      }
      &-down {
        &.downvoted {
          color: $red;
        }
        &:hover {
          color: $red;
        }
      }
    }
  }
  &__user {
    margin-top: 24px;
    margin-bottom: 16px;
    &--avatar {
      display: inline-block;
      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        vertical-align: baseline;
      }
    }
    &__meta {
      margin-left: 4px;
      display: inline-block;
      &--name {
        display: block;
        line-height: 16px;
      }
      &--time {
        font-size: 14px;
        color: $grey;
      }
    }
  }
  &__tags {
    list-style: none;
    padding: 0;
    &__tag {
      display: inline-block;
      color: white;
      font-size: 13px;
      text-transform: uppercase;
      border-radius: 2px;
      padding: 0 12px;
      line-height: 24px;
      //Todo: Hardcoded Tags
      &--gaming {
        background: $blue;
      }
      &--webdesign {
        background: $yellow;
      }
      &--app {
        background: $pink;
      }
      &--nodejs {
        background: $green;
      }
    }
  }
  &__more {
    margin:48px 0px;
    &--holder {
      display:inline-block;
      background:white;
      padding:0 20px;
    }
    position: relative;
    &:before {
      content: " ";
      height: 1px;
      background: $light-grey;
      width: 100%;
      position: absolute;
      top: 50%;
      z-index: -1;
      left:-20px;
    }
    &:after {
      content: " ";
      height: 1px;
      background: $light-grey;
      width: 100%;
      position: absolute;
      top: 50%;
      right: 0;
      z-index: -1;
    }
    text-align: center;
  }
  &:hover {
    .post--trans {
      opacity: 1;
      .btn--divider {
        background:$blue;
      }
    }
  }
}
