.tabs {
  border-bottom: 1px solid $light-grey;
  padding-bottom:1px;

  &__nav {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__tab {
    margin-right: 50px;
    display: inline-block;

  }
}
