@tr-list-score-width: 50px;
.tr-list {
  h4 {
    margin: 0;
  }
  .tr-col {
    min-height:69px;
    vertical-align: top;
    display: inline-block;
    &.badge.score {
      padding: 0;
      margin: 0 @grid-gutter-width;
      border-radius: 4px;
      background: white;
      color: #666;
      border: thin solid #666;
      &.up {
        color: darken(@brand-success, 5%);
        border: thin solid darken(@brand-success, 5%);
        &.fufilled {
          color: white;
          background: @brand-success;
        }
      }
      &.down {
        color: darken(@brand-danger, 5%);
        border: thin solid darken(@brand-danger, 5%);
        &.fufilled {
          color: white;
          background: @brand-danger;
        }
      }
      > .score-label {
        font-weight: normal;
        font-size: 12px;
        line-height: 24px;
      }
      > .score-num {
        line-height: 24px;
        min-width: 50px;
        font-size: 26px;
        //text-shadow: 1px 1px 1px rgba(0,0,0, 0.2);
      }
    }
    &.well {
      width: calc(~"100% - "((@grid-gutter-width*2) + (@tr-list-score-width+@grid-gutter-width)));
      padding: 8px;
    }
  }
}

.tut-tabs {
  margin-bottom: 1em;
  > .nav.nav-tabs > li {
    > button {
      line-height: 40px;
      padding: 0 10px;
    }
    &.active > button {
      background:#999;
      color:white;
      text-shadow: 1px 1px 1px #525252;
    }
    &:first-child > button {
      border-top-left-radius: 11px;
    }
    &:last-child > button {
      border-top-right-radius: 11px;
    }
  }
}

.deleted {
  text-decoration: line-through;
  opacity: 0.5;
}
