.vote {
  .btn.btn-link {

    color: #B3B3B3;
    transition: 0.2s ease;

    &.active {

      color: #337AB7;


    }

    > span.active {
      color: orange;
    }
  }
}

/* Tutorial Request and Solution Vote cells */
.post, .tutorial-request, .tutorial-solution {
  .panel-body {
    .votecell {
      text-align:center;
      vertical-align: top;
      .vote-count {
        line-height: 28px;
        font-size: 28px;
        color: #B3B3B3;
        font-weight: bold;
        margin-left: 2px;
        padding-bottom: 4px;
      }
      button > .active {
        color: orange;
      }
    }
  }
}


/* Comment votes */


.comments-body {
  .comment-actions {
    height: 1.667em;
    .votecell {
      padding: 0;
      margin: 0;
      .btn.btn-link {
        font-size:12px;
        color: #B3B3B3;
      }
      .vote-count {
        font-size: 13px;
      }
      .vote {
        margin-top:3px;
        button, div {
          float: left;
          display: inline;
          padding: 0;
          margin: 0;
          color: #B3B3B3;
        }
      }
    }
  }
}

.inline-vote {
  button {
    text-shadow: rgba(0,0,1px, 0.3);
    color:#677;
    padding: 3px;
    border-radius: 60px;
    line-height: 1;
    font-size: inherit;
    &:hover {
      background: #eee;
      color:#444;
    }
    > .active {
      color: orange;
    }
  }
}

.vote-block-pill, .vote-block-slab {
  display: inline-block;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16), 0 3px 10px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16), 0 3px 10px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16), 0 3px 10px rgba(0, 0, 0, 0.23);
  text-shadow: rgba(0, 0, 1px, 0.2);
  button {
    opacity: 0.86;
    &:hover {
      opacity: 1;
    }
  }
}
.vote-block-pill {
  background-color: #F7F7F7;
  padding: 2px;
  border-radius: 32px;
  button {
    padding: 2px;
    border-radius: 32px;
    background: inherit;
  }
}


.vote-block-slab {
  background-color:#fff;
  background: rgb(255,255,255);
  background-image: -webkit-linear-gradient(135deg, #ffffff 0%, #ECECEC 100%);
  background-image: -moz-linear-gradient(135deg, #ffffff 0%, #ECECEC 100%);
  background-image: -o-linear-gradient(135deg, #ffffff 0%, #ECECEC 100%);
  background-image: linear-gradient(135deg, #ffffff 0%, #ECECEC 100%);
  padding: 3px;
  border-radius: 14px;
  button.btn.btn-link {
    border-radius: 14px;
  }
}

.vote-block {
  display: inline-block;
  button {
    opacity: 0.68;
    &:hover {
      opacity: 1;
    }

  }
}