//Colors
$blue: #4374f4;
$dark: #282828;
$grey:#989dab;
$white: #FFF;
$light-grey: #eee;
$red:#ec4f4f;
$green:#5fbf6a;
$sidebar-background:#f8f8f8;

//Tags color
$yellow:#f7982e;
$pink:#ff00a2;



//Multiplier 4 for everything




$shadow: 0 0 4.48px 2.52px rgba(0, 0, 0, 0.05),inset 0 -1px 0 1px rgba(230, 233, 237, 0.004);

//Header
$logo-margin:8px;


//General Navigation align
$topbar-padding:24px;
$topbar-min-height:80px;

//Single Link
$topbar-item-x-space:15px;
$topbar-item-padding:4px 12px;
